.import-field-select {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: 1em;
  justify-content: center;
  mat-form-field {
    max-width: 15em;
  }
}

.limited-list {
  max-height: 50em;
  overflow-y: scroll;
}

.mid {
  font-style: italic;
}

/* TODO: Use mat error color */
.error {
  color: red;
}
