<mat-card class="gv-card" *ngIf="Division">
  <mat-card-header>
    <mat-card-title>Mitglieder importieren ({{ Division.DisplayName}})</mat-card-title>
  </mat-card-header>
  <mat-card-content class="gv-card-content">
    <mat-vertical-stepper linear>
      <mat-step label="Datei auswählen" editable="false" [stepControl]="FileStepForm">
        <form [formGroup]="FileStepForm">
          <p>Die Datei muss ein CSV sein (Semikolonsepariert). In der ersten Zeile müssen die Feldnamen für das Mapping
            stehen.</p>
          <div>
            <input type="file" #fileInput accept=".csv" formControlName="fileSelect"/>
          </div>
          <div style="margin-top: 1em;">
            <button mat-raised-button matStepperNext (click)="onFileContinueClick()">Weiter</button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Zuordnung setzen" editable="false" [stepControl]="MappingStepForm">
        <form [formGroup]="MappingStepForm" class="import-field-select">
          <mat-form-field *ngFor="let field of FieldNamesMember">
            <mat-select [placeholder]="field" [formControlName]="field">
              <mat-option *ngFor="let ffield of MappingKeys" [value]="ffield">
                {{ ffield }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperNext (click)="onMappingContinueClick()">Weiter</button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Neue Mitglieder" editable="false" [stepControl]="NewMemberStepForm">
        <form [formGroup]="NewMemberStepForm">
          <mat-progress-bar mode="determinate" [value]="NewMemberPercentImported"></mat-progress-bar>
          <p>Es gibt {{ NewMembers.length }} neue Mitglieder zum Importieren.</p>
          <button mat-raised-button (click)="onNewMemberImportClick()" [disabled]="NewMemberStepForm.valid">Import
            starten
          </button>
          <mat-selection-list class="limited-list">
            <mat-list-option disabled="true" *ngFor="let member of NewMembers" [selected]="member.Imported">
              <span matLine>{{ member.FirstName }} {{ member.LastName}}</span>
              <span matLine class="mid">{{ member.Id}}</span>
              <span matLine class="error" *ngIf="member.Error">{{ member.Error }}</span>
            </mat-list-option>
          </mat-selection-list>
          <div>
            <button mat-raised-button matStepperNext (click)="onNewMemberContinueClick()"
                    [disabled]="!NewMemberStepForm.valid">Weiter
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Gelöschte Mitglieder" editable="false">
        <form [formGroup]="DeletedMemberStepForm">
          <p>Gelöschte Mitglieder sind noch nicht implementiert.</p>
          <div>
            <button mat-raised-button matStepperNext (click)="onDeletedMemberContinueClick()" [disabled]="false">
              Weiter
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Geänderte Mitglieder" editable="false">
        <form [formGroup]="ChangedMemberStepForm">
          <p>Geänderte Mitglieder sind noch nicht implementiert.</p>
          <div>
            <button mat-raised-button matStepperNext (click)="onChangedMemberContinueClick()" [disabled]="false">
              Weiter
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Übersicht" editable="false">
        <form [formGroup]="ResultForm">
          <p>Es gibt {{ NewMembers.length }} neue Mitglieder. Davon wurden {{ NewMemberImported }} erfolgreich
            importiert.</p>
          <div>
            <button mat-raised-button [routerLink]="['/start']" [disabled]="false">Beenden</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
