@import '~@angular/material/theming';
@import './theme';

$primary: map-get($theme, primary);

html,
body {
  height: 100%;
  margin: 0;
}

.spacer {
  flex: 1 0 auto;
}

.link {
  margin: 0 auto;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: mat-color($primary);
  }
  color: black;
}

// Grid List
.gv-grid-list {
  height: 100%;
  margin: 0 !important;
  .gv-card {
    width: 100%;
    //:not(:first-child) {
    //  margin-top: 1em;
    //}
  }
}

// MaterialDesign
mat-card {
  margin: 2em;

  mat-card-actions {
    display: flex !important;
  }
}

