<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Stämme</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-tribe-list></app-tribe-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Beauftragungen</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-voted-group-list></app-voted-group-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
