.grid-container {
  margin: 1em;
}

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.5em;
  mat-card-content {
    max-height: 90%;
    overflow-y: scroll;
  }
}

.card-menu {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
