<mat-card class="gv-card" *ngIf="Tribe">
  <mat-card-header>
    <mat-card-title>{{ Tribe.DisplayName }} <span *ngIf="CanEdit">({{ Tribe.TribeId }})</span></mat-card-title>
  </mat-card-header>
  <mat-card-content class="gv-card-content" *ngIf="Tribe && !CanView">You are not allowed to view this Tribe. // TODO:
    Route Check
  </mat-card-content>
  <mat-card-content class="gv-card-content tribe" *ngIf="CanView">
    <mat-divider></mat-divider>
    <div class="list">
      <span class="mat-subheading-2">Stammesleitung</span>
      <app-group-member-list [Group]="Tribe.Sl" [CanEdit]="CanEdit"></app-group-member-list>
    </div>
    <div class="list">
      <span class="mat-subheading-2">Geschäftsstelle</span>
      <app-group-member-list [Group]="Tribe.Gs" [CanEdit]="CanEdit"></app-group-member-list>
    </div>
    <div class="list">
      <span class="mat-subheading-2">LR-Delegierte</span>
      <app-group-member-list [Group]="Tribe.Lr" [CanEdit]="CanEdit"></app-group-member-list>
    </div>
    <div class="list">
      <span class="mat-subheading-2">LV-Delegierte</span>
      <app-group-member-list [Group]="Tribe.Lv" [CanEdit]="CanEdit"></app-group-member-list>
    </div>
    <mat-divider></mat-divider>
    <div class="list memberlist" *ngIf="CanEdit">
      <span class="mat-subheading-2">Mitglieder</span>
      <app-group-member-list [Group]="Tribe" [CanEdit]="CanEdit"></app-group-member-list>
    </div>
  </mat-card-content>
</mat-card>
