.tribe {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 1em;
}

.list {
  //flex-grow: 1;
  //flex-shrink: 0;
}

.mat-divider {
  position: unset !important;
  grid-column-start: 1;
  grid-column-end: span 4;
}

.mat-subheading-2 {
  margin-left: 1em;
}

.memberlist {
  grid-column-start: 1;
  grid-column-end: span 4;
}
