@import '~@angular/material/theming';
@import '../theme';

$primary: map-get($theme, primary);
$background: map-get($theme, background);

.bottomBar {
  height: 40px;
  background-color: mat-color($background, status-bar);
}

.container {
  display: grid;
  height: 100%;
  min-height: 100%;
  grid-template-rows: min-content auto min-content;
}

.content {
  router-outlet {
    display: none;
  }
  display: grid;
  background-color: mat-color($background, background);
}

.logout {
  cursor: pointer;
}

.userMenu {
  margin-right: 2em;
}

.consent {
  //position: absolute;
  //z-index: 1;
  height: unset;
  align-items: flex-end;
  button {
    margin-bottom: 1em;
  }
  p {
    white-space: normal;
    font-size: 15px;
    a:link,
    a:visited {
      color: mat-color($primary);
      text-decoration: none;
    }
  }
}

.privacy {
  z-index: 2;
  position: absolute;
  width: 100%;
  text-align: center;
}

.version {
  z-index: 1;
  position: relative;
}
