<mat-card>
  <mat-card-title>Gruppenverwaltung</mat-card-title>
  <mat-card-content>
    <p>Dies ist eine interne Seite des VCP Landes Schleswig-Holstein. Hier lassen sich deine Mitgliedsdaten pflegen, sowie Kontaktdaten zu Stammes- und Landesbeauftragungen ansehen.</p>
    <p>Du kannst dich auf dieser Seite mit deinem VCP-SH Account <a class="link" (click)="onLoginClick()">anmelden</a>.</p>
    <p>Solltest du noch keinen Account haben wende dich bitte an die <a class="link" href="mailto:lgs@vcp.sh">Landesgeschäftsstelle</a>.</p>
  </mat-card-content>
</mat-card>
